<div class="job-card">
  <span class="company-name">{{initialData.arbetsplatsnamn}}</span>
  <h2>{{initialData.annonsrubrik}}</h2>

  <div class="inner-loading-indicator" ng-show="state.showLoading"></div>
  <div ng-hide="state.showLoading">
    <p>{{data.annons.annonstext | limitStr:175:'...'}}</p>
  </div>

  <ul class="conditions">
    <li><span class="dot"></span> {{data.villkor.arbetstid}}</li>
    <li><span class="dot"></span> {{data.villkor.varaktighet}}</li>
    <li><span class="dot"></span> {{data.villkor.lonetyp}}</li>
  </ul>
</div>
