<div class="job-card">
  <span class="company-name">{{initialData.arbetsplatsnamn}}</span>
  <h2>{{initialData.annonsrubrik}}</h2>

  <div class="inner-loading-indicator" ng-show="state.showLoading"></div>
  <div ng-hide="state.showLoading">
    <p>{{data.annons.annonstext | limitStr:175:'...'}}</p>
  </div>

  <ul class="conditions">
    <li><span class="dot" ng-style="styleDot('arbetstid', data.villkor.arbetstid)"></span> {{data.villkor.arbetstid}}</li>
    <li><span class="dot" ng-style="styleDot('varaktighet', data.villkor.varaktighet)"></span> {{data.villkor.varaktighet}}</li>
    <li><span class="dot" ng-style="styleDot('lonetyp', data.villkor.lonetyp)"></span> {{data.villkor.lonetyp}}</li>
  </ul>

  <div class="links">
    <p>
      <a ng-href="{{data.annons.platsannonsUrl}}" target="_blank">Annons på Arbetsförmedlingen</a>
    </p>
    <p style="margin-top: 5px">
      <a ng-href="{{data.arbetsplats.hemsida}}" target="_blank">Läs mer om {{initialData.arbetsplatsnamn | limitStr:20:'...'}}</a>
    </p>
  </div>
</div>
