dist
src/css/*.css
build

.idea
*.iml
node_modules
bower_components

\.DS_Store

test-reports

src/lib

atlassian-ide-plugin.xml

config/private.json
dropbox-deploy.py
test-results.xml

web-driver-conf.private.json
*.pyc
arbetsformedlingen_contact.txt
