html, body {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  background-color: #F7F6F6;

  font-family: 'Open Sans', Helvetica, sans-serif;
}

.my-container {
  min-height: 100%;
  padding-bottom: 20px;
}

.top-bar {
  background-color: white;
  height: 83px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  font-family: 'Lato';
  font-size: 26px;
  text-align: center;
  border-bottom: solid 5px rgb(199, 199, 199);
}

.job-cards {
  height: 100%;
  padding-top: 83px;
  width: 95%;
  margin: auto;
}

.job-card {
  background-color: white;
  display: inline-block;
  height: 250px;
  width: 500px;
  margin: 40px;
  padding: 20px;
  overflow: hidden;

  h1, h2 {
    margin-top: 0px;
  }

  h2 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 5px;
  }

  .company-name {
    font-size: 12px;
    font-style: italic;
  }
}
