@import "bootstrap/variables.less";
@import "bootstrap/tables.less";

html, body {
  height: 100%;
  overflow-y: scroll;
}

strong {
  font-weight: bold;
}

.vpv-navigation-topbar {
  p {
    width: inherit;
  }
  .patient-information {
    line-height: 1.5;
  }
}

#start {
  .content-nav {
    .list-item {
      .icon {
        display: inline-block;
        width: 40px;
        i {
          position: relative;
          bottom: 10px;
          font-size: 20px;
        }
      }
      .data {
        display: inline-block;
        width: calc(~"100% - 40px");
      }
    }
  }
}

.testings__header {
  display: block;
}

.list-item {
  .OfferName {
    font-size: 120%;
    margin-bottom: 0px;
  }
}

.loading-indicator {
  @navbar-height: 54px;
  position: absolute;
  top: @navbar-height;
  left: 0;
  width: 100%;
  height: ~"calc(100% - @{navbar-height})";
  background-image: url('images/ajax-loader.gif');
  background-position: center center;
  background-repeat: no-repeat;
}

.button {
  @bg-color: rgb(37,154,188);
  background-color: @bg-color;
  /*display: block;*/
  width: auto;
  border-radius: 5px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  padding: 15px 20px 15px 20px;
  cursor: pointer;
  border: none;

  &:active {
    background-color: darken(@bg-color, 10%);
  };
}

#details {
  h1 {
    font-size: 1.4em;
  }
  .analysis-table {
    width: auto;
  }
}
