<div class="my-container">
  <div class="top-bar">
      Jag vill jobba med 
      <form class="form-inline" ng-submit="search()">
        <input type="text" autofocus ng-model="state.searchTerm"> i 
        <span class="select--wrapper">
          <select class="form--select" ng-model="state.countyCode" ng-options="opt.id as opt.namn for opt in counties">
          </select>
          <span class="dropdown-icon"></span>
        </span>
        <button type="submit" class="btn btn-primary search-button">
          <i class="fa fa-search"></i> Sök
        </button>
      </form> 
  </div>
  <div class="job-cards">
    <div ng-repeat="card in state.data" job-card initial-data="card"></div>
    <p class="instructions" ng-if="!state.searched && state.data.length == 0">Vad vill du jobba med?</p>
    <p class="instructions" ng-if="state.searched && !state.data">Inga annonser hittades.</p>
  </div>
</div>
